<!--<div class="title">
	<span class="title_icon">
		<img src="/assets/bullet1.gif" alt="" />
	</span>Your cart
</div>-->
<div class="feat_prod_box_details">
	<% unless cart.line_items.empty? %>
	    <table class="cart_table">
	    	<tr class="cart_title">
				<!--<td>Item pic</td>-->
		        <td style="width:10">Product name</td>
		        <td>Unit price</td>
		        <td>Qty</td>
		        <td>Total</td>
		        <td></td>
		    </tr     
			<%= render(cart.line_items) %>
			<tr>
				<td colspan="4" class="cart_total"><span class="red">TOTAL PRICE:</span></td>
				<td class="total_cell"><%= number_to_currency(cart.total_price)  %></td>
			</tr>
		</table>
		<%= button_to 'Empty Cart', cart, :method => :delete,:class=>"continue", :confirm => 'Are you sure?' %>		
			<a href="/gallery/index" class="continue">&lt; continue</a> | 
			<% unless session[:user].nil? %>				
				<%= link_to "Checkout" , :class=>"checkout", controller: "gallery", action: "checkout", amount:cart.total_price %>
			<% else %>
				<a href="/account/login" class="checkout">checkout&gt;</a>
			<% end %>
		
	<% end %>     
</div>
