<div class="title"><span class="title_icon"><img src="/assets/bullet1.gif" alt="" /></span>
  Purchase Complete</div><br /><br /><br />

<p class="contact">Thank you for shopping with us!<br /><br />
	
your order has been processed.<br /><br />

A detailed email has been sent.<br /><br />

<a href="/gallery/index">Click here to continue the shopping</a></p>