 <div class="about" style="background-color:#EEEEEE;height:800px;width:450px;float:left;text-align:justify;color:Brown; "><br/> 	
    <div class="logo" float:left>
     <img src="/assets/snap.jpg" alt ="" width=425px height=100px />

 Flowershini experts will create the perfect gift using beautiful flowers in Bothell. Browse our large selections of flowers, plants and gifts baskets to find just what you’re looking for. Don’t worry about quality – all of our lovely flower arrangements are hand-arranged and personally delivered right to each door. As your local florist in Bothell WA, our floral gifts make it easy to show how much you care.<br/><br/>
 <div class="logo" >
     <img src="/assets/about1.gif" alt ="" width=125px height=150px />
        <img src="/assets/about2.gif" alt ="" width=125px height=150px />
    
     <img src="/assets/about3.gif" alt ="" width=125px height=150px />
    </div>
Be careful when ordering from other floral sites which deliver your flowers in a box. You want to brighten their day with flowers, but when they arrive they will have to be unpacked, trimmed and arranged by your recipient. Leave it to our Flower Boutique when you need fresh, hand-delivered flowers in Bothell or anywhere in the country. Your beautiful bouquet will arrive in a lovely arrangement that is ready for your loved ones to enjoy.<br/><br/>

You want to give a memorable gift for an upcoming special occasion. Why not give a beautiful floral bouquet from Flowershini Boutique? We have the perfect Valentine’s Day flowers, Mother’s Day flowers, birthday flowers and more to fit your style and budget. Say “I love you” with stunning anniversary flowers or show your sentiments in a truly special way with get well flowers and sympathy funeral flowers. You can trust The Flower Boutique for bright, fresh flowers in the Bothell WA area. Brighten a day today with the perfect floral arrangements and gifts for the ones you care about.<br/><br/>

You can rely on our Flower Boutique the best floral gifts in Bothell WA! Browse our website for a variety of options – from fresh flower arrangements to customized gift baskets. When you find the perfect gift, you can easily order online or call us directly. No matter what your taste or budget, you can trust The Flower Boutique to deliver beautiful flowers to friends and family in Bothell or across the country.<br/><br/>
</div>
</div>
<div class="feat_prod_box">
  <div class="prod_img"><a href="/locations/show"><img src="/assets/address.gif" alt="" border="0" width=150px height=150px /></a></div>  
  <div class="prod_det_box">
    <div class="box_top"></div>
    <div class="box_center">
      <div class="prod_title">Address :</div>
      <p class="details">Flowershini Boutique<br/>
      20225 Bothell Everett Highway<br/>
      Bothell WA 98012<br/>
      (123) 456-7890 , (987) 654-3210<br/>
      http://www.flowershini.com</p>
      
      <div class="clear"></div>
    </div>
    <div class="box_bottom"></div>
  </div>
  <div class="clear"></div>
</div>