<div class="form_row">

<div class="error_messages"><%= flash[:notice]%></div>

<%= link_to "Change Your Password",:controller=>"account",:action=>"reset_password",:class=>"register" %>
<%= link_to "Logout",:controller=>"account",:action=>"logout",:class=>"register" %>
</div>
<div class="title"><span class="title_icon"><img src="/assets/bullet1.gif" alt="" /></span>Featured products</div>
<div class="feat_prod_box">
  <div class="prod_img"><a href="http://all-free-download.com/free-website-templates/"><img src="/assets/prod1.jpg" alt="" border="0" width=150px height=150px /></a></div>
  <div class="prod_det_box">
    <div class="box_top"></div>
    <div class="box_center">
      <div class="prod_title">Daisy</div>
      <p class="details">A little incursion in a flower boutique along the great synagogue of Rome.
      You can see how Italians present their flowers....</p>
      
      <div class="clear"></div>
    </div>
    <div class="box_bottom"></div>
  </div>
  <div class="clear"></div>
</div>
<div class="feat_prod_box">
  <div class="prod_img"><a href="http://all-free-download.com/free-website-templates/"><img src="/assets/thumb6.gif" alt="" border="0" width=150px height=150px /></a></div>
  <div class="prod_det_box">
    <div class="box_top"></div>
    <div class="box_center">
      <div class="prod_title">Puppy</div>
      <p class="details">View our most popular flowers, bouquets, and floral arrangements featuring gorgeous roses, tulips, daisies, and more. ... Whether you want to send a fresh flower bouquet of gerbera daisies or roses</p>
      
      <div class="clear"></div>
    </div>
    <div class="box_bottom"></div>
  </div>
  <div class="clear"></div>
</div>
<div class="feat_prod_box">
  <div class="prod_img"><a href="/locations/show"><img src="/assets/address.gif" alt="" border="0" width=150px height=150px /></a></div>  
  <div class="prod_det_box">
    <div class="box_top"></div>
    <div class="box_center">
      <div class="prod_title">Address :</div>
      <p class="details">Flowershini Boutique<br/>
      20225 Bothell Everett Highway<br/>
      Bothell WA 98012<br/>
      (123) 456-7890 , (987) 654-3210<br/>
      http://www.flowershini.com</p>
      
      <div class="clear"></div>
    </div>
    <div class="box_bottom"></div>
  </div>
  <div class="clear"></div>
</div>
<div class="title"><span class="title_icon"><img src="/assets/bullet2.gif" alt="" /></span>New products</div>
<div class="new_products">
  <div class="new_prod_box"> <a href="http://all-free-download.com/free-website-templates/">Love</a>
    <div class="new_prod_bg"> <span class="new_icon"><img src="/assets/new_icon.gif" alt="" /></span> <a href="http://all-free-download.com/free-website-templates/"><img src="/assets/thumb1.gif" alt="" class="thumb" border="0" width=150px height=150px  /></a> </div>
  </div>
  <div class="new_prod_box"> <a href="http://all-free-download.com/free-website-templates/">Birthday</a>
    <div class="new_prod_bg"> <span class="new_icon"><img src="/assets/new_icon.gif" alt="" /></span> <a href="http://all-free-download.com/free-website-templates/"><img src="/assets/thumb2.gif" alt="" class="thumb" border="0" width=150px height=150px/></a> </div>
  </div>
  <div class="new_prod_box"> <a href="http://all-free-download.com/free-website-templates/">Get well</a>
    <div class="new_prod_bg"> <span class="new_icon"><img src="/assets/new_icon.gif" alt="" /></span> <a href="http://all-free-download.com/free-website-templates/"><img src="/assets/thumb3.gif" alt="" class="thumb" border="0" width=150px height=150px/></a> </div>
  </div>
  </div>
<div class="clear"></div>
