<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Flower</title>
<meta http-equiv="Content-Language" content="English" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="/assets/admin/style.css" media="screen" />
</head>
<body>

<div id="wrap">

<div id="header">
<h1>&nbsp;</h1>
</div>

<div id="content">
<div class="left"> 

<h2>Welcome Admin !!! </h2>
<div class="articles">

<%= yield %>

<img src="/assets/pic.gif" alt="" style="border: 3px solid #eb5a07;" />
<!--
<ul class="slideshow">
    <li class="show"><img width="550" height="205" src="/assets/pic.gif" alt="" style="border: 3px solid #eb5a07;"/></li>
    <li><img width="550" height="205" src="/assets/Colored-Roses_admin.gif" alt="" style="border: 3px solid #eb5a07;"/></li>
    <li><img width="550" height="205" src="/assets/multi_admin.gif" alt="" style="border: 3px solid #eb5a07;"/></li>
    <li><img width="550" height="205" src="/assets/roses2_admin.gif" alt="" style="border: 3px solid #eb5a07;"/></li>
    <li><img width="550" height="205" src="/assets/roses_admin.gif" alt="" style="border: 3px solid #eb5a07;" /></li>
</ul>
-->
<br />
<br />
</div>

</div>

<div class="right"> 

<h2>Categories :</h2>
<ul class="list">
          <li><a href="/gallery/index">accesories</a></li>
          <li><a href="/gallery/index">flower gifts</a></li>
          <li><a href="/gallery/index">specials</a></li>
          <li><a href="/gallery/index">hollidays gifts</a></li>
          <li><a href="/gallery/index">accesories</a></li>
          <li><a href="/gallery/index">flower gifts</a></li>
          <li><a href="/gallery/index">specials</a></li>
          <li><a href="/gallery/index">hollidays gifts</a></li>
          <li><a href="/gallery/index">accesories</a></li>
          <li><a href="/gallery/index">flower gifts</a></li>
          <li><a href="/gallery/index">specials</a></li>
        </ul>

<h2>Archives</h2>
<ul>
<li><a href="#">January 2011</a></li> 
<li><a href="#">February 2011</a></li> 
<li><a href="#">March 2011</a></li> 
<li><a href="#">April 2011</a></li>
<li><a href="#">May 2011</a></li> 
<li><a href="#">June 2011</a></li> 
<li><a href="#">July 2011</a></li> 
<li><a href="#">August 2011</a></li> 
<li><a href="#">September 2011</a></li>
<li><a href="#">October 2011</a></li>
<li><a href="#">November 2011</a></li>
<li><a href="#">December 2011</a></li>
</ul>

</div>

</div>
<div style="clear: both;"> </div>

<div class="footer">
    <div class="left_footer"><img src="/assets/footer_logo.gif" alt="" /><br />
      <div class="copyright" >
        Copyright © Flowershini.com  All rights reserved
      </div>
    </div>   
  </div>

</body>
</html>