<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Flower</title>
<meta http-equiv="Content-Language" content="English" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="/assets/admin/style.css" media="screen" />
</head>
<body>

<div id="wrap">

<div id="header">
<h1>&nbsp;</h1>
</div>

<div id="content">
<div class="left"> 

<h2>Welcome Admin !!! </h2>
<div class="articles">

<%= yield %>

<img src="/assets/pic.gif" alt="5th Eye Ave center" style="border: 3px solid #eb5a07;" />
<br />
<br />
</div>

</div>

<div class="right"> 

<h2>Categories :</h2>
<ul>
<li><a href="#">Lorem Ipsum </a></li> 
<li><a href="#">Lorem Ipsum </a></li> 
<li><a href="#">Lorem Ipsum </a></li> 
<li><a href="#">Lorem Ipsum </a></li>
<li><a href="#">Lorem Ipsum </a></li> 
<li><a href="#">Lorem Ipsum </a></li>
</ul>

<h2>Archives</h2>
<ul>
<li><a href="#">January 2011</a></li> 
<li><a href="#">February 2011</a></li> 
<li><a href="#">March 2011</a></li> 
<li><a href="#">April 2011</a></li>
<li><a href="#">May 2011</a></li> 
<li><a href="#">June 2011</a></li> 
<li><a href="#">July 2011</a></li> 
<li><a href="#">August 2011</a></li> 
<li><a href="#">September 2011</a></li>
<li><a href="#">October 2011</a></li>
<li><a href="#">November 2011</a></li>
<li><a href="#">December 2011</a></li>
</ul>

</div>

</div>
<div style="clear: both;"> </div>

<div id="footer">
<p id="legal">( c ) 2010. All Rights Reserved. Design by <a href="http://www.worldclasslasik.com">New York Lasik</a>|
  <a href="http://validator.w3.org/check/referer" title="This page validates as XHTML 1.0 Strict"><abbr title="eXtensible HyperText Markup Language">XHTML</abbr></a> | <a href="http://jigsaw.w3.org/css-validator/check/referer" title="This page validates as CSS"><abbr title="Cascading Style Sheets">CSS</abbr></a>
  </p>
  </div>
</div>

</body>
</html>